table {
	border-collapse: collapse;
	border-spacing: 0px;
}
table,
th,
td {
	height: var(--height);
	border: 1px solid black;
}

.mainDiv {
	margin-top: 70px;
	display: flex;
	justify-content: center;
	align-self: center;
	width: 100%;
}

.tableMain {
	max-width: calc(var(--width) * 12 + var(--rows-width));
	width: 100%;
}

.rowPeriods,
.header4,
.header {
	font-size: 20px;
	font-weight: 300;
}

.header {
	width: var(--width);
}

.header4 {
	width: calc(var(--width) * 4);
}

.header0 {
	width: var(--width);
	font-size: 12px;
}
.header1 {
	width: var(--rows-width);
	font-size: 12px;
}

.cellWidth {
	width: var(--width);
	padding: 5px;
}
.cellWidth3 {
	width: calc(var(--width)*3);
}
.cellWidth4 {
	width: calc(var(--width)*4);
}

.rowPeriods,
.mainDiv,
.header0,
.header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.bColorRed {
	background-color: #ecc3d1;
}

.bColorYellow {
	background-color: #e6e7bb;
}

.bColorGreen {
	background-color: #9fbfb0;
}

.bColorNoColor,
.bColorRed,
.bColorYellow,
.bColorGreen {
	height: 100%;
	width: 100%;
}
