.mainDiv {
	display: flex;
	justify-content: center;
	align-self: center;
	width: 100%;
}

.header {
	display: flex;
	justify-content: center;
	align-self: center;
	width: 100px;
	height: 40px;
	font-size: 20px;
}

.tableMain {
	max-width: 800px;
	width: 100%;
}
